/**
* Displays a round Slider
@param {id=} unique id for this widget (optional)  
* @param {item} an itemvalue to slide
* @param {item} an item to slide
* @param {text=} pretext of de centertext/value 
* @param {text=} text after centertext/ value
* @param {text=} unit of the center values
* @param {value=0} the minimum value if the slider is moved to total left (optional, default: 0)  
* @param {value=255} the maximum value if the slider is moved to total right (optional, default: 255)  
* @param {value=5} step between two values (optional, default: 5)  
* @param {value=0.1} thickness of the slide line
* @param {value=120} radius the slide line (optional, default: 120)  
* @param {value=20} width of the slide line
* @param {text=} circleshape slider style (like pie, quarter-top-left, quarter-top-right, quarter-bottom-left, quarter-bottom-right, half-top, half-bottom, half-left, half-right, custom-half, custom-quarter)
* @param {text=} slidertype (default, min-range,range )
* @param {value=20} handlesize, size of the handle knop  (optional, default: 20)
* @param {value=20} scale-integer, the scale-divider for the scale
**/

{% macro roundslider(id, item_value,item_send, icon, unit, min, max, step, pre_value, to_value, numbers, radius, handlesize, scale_interval, width, thickness, circleshape, slidertype) %}
	/**
	* pseudo divs, to get styles 
	**/
	<div class="ui-bar-a" style="visibility:hidden;"> </div>
	<div class="ui-bar-b" style="visibility:hidden;"> </div>
	<div class="ui-page-theme-a ui-btn" style="visibility:hidden;"> </div>
	
	
	<div {% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="status.roundslider" data-item="{{item_value}},{{item_send}}" data-values=" {{unit}}, {{pre_value| default('')}}, {{ to_value| default('') }}, {{ numbers| default('false')}}" 
	data-radius="{{radius | default('120')}}" data-scale_min="{{min | default('0')}}" data-scale_max="{{max| default('255')}}" data-step="{{step | default('5')}}" data-handlesize="{{handlesize | default('20')}}" data-scale_interval="{{scale_interval | default('20')}}"
	data-width="{{width | default('20')}}" data-thickness="{{thickness | default('0.1')}}" data-circleshape="{{circleshape | default('pie')}}" data-slidertype="{{slidertype | default('min-range')}}" data-icon="{{icon}}"
	style="margin:auto; margin-top:30px;"> 
		/**<div class="img" id ="{{ uid(page, id) }}" style="margin:auto; margin-top:30px;"></div> 
		**/
	</div>
{% endmacro %}


{% macro rtr_slider(id, item_value, item_actual, item_set, item_comfort, item_night, item_frost, item_state, icon, unit, min, max, step, pre_value, to_value, numbers, radius, handlesize, scale_interval, width, thickness, circleshape, slidertype) %}
	<div {% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="status.rtr_slider" data-item="{{item_actual}},{{item_set}},{{item_comfort}},{{item_night}},{{item_frost}},{{item_state}}" data-values=" {{unit}}, {{pre_value| default('')}}, {{ to_value| default('') }}, {{ numbers| default('false')}}" 
	data-radius="{{radius | default('120')}}" data-scale_min="{{min | default('0')}}" data_scale_max="{{max| default('255')}}" data-step="{{step | default('5')}}" data-handlesize="{{handlesize | default('20')}}" data-scale_interval="{{scale_interval | default('20')}}"
	data-width="{{width | default('20')}}" data-thickness="{{thickness | default('0.1')}}" data-circleshape="{{circleshape | default('pie')}}" data-slidertype="{{slidertype | default('min-range')}}" data-icon="{{icon}}"
	style="margin:auto; position:absolute;"> 
	/**
	* pseudo divs, to get styles 
	**/
	<div class="ui-bar-a" style="visibility:hidden;"> </div>
	<div class="ui-bar-b" style="visibility:hidden;"> </div>
	<div class="ui-page-theme-a ui-btn" style="visibility:hidden;"> </div>
	
	<div id="container" style="position:absolute; margin:auto;">
			<div class="outerslider" id ="{{ uid(page, id) }}" style="position: absolute;
			margin:auto; margin-top:30px;"
			
			></div>
			<div class="innerslider" id ="{{ uid(page, id) }}" style="
				position: absolute;
				top: 50%;
				margin-top: 50px;
				margin-left: 18px;
				"></div>
		</div>
	</div>
{% endmacro %}

{% macro rtr_slider2(id, item_actual, item_set, item_comfort, item_night, item_frost, item_state, min, max, step, scale_interval, circleshape, slidertype) %}
<div {% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="status.rtr_slider2" data-item="{{item_actual}},{{item_set}},{{item_comfort}},{{item_night}},{{item_frost}},{{item_state}}" data-values=" {{ numbers| default('false')}}" 
	data-scale_min="{{min | default('0')}}" data_scale_max="{{max| default('255')}}" data-step="{{step | default('5')}}"  data-scale_interval="{{scale_interval | default('20')}}" data-step="{{step | default('1')}}"
	data-circleshape="{{circleshape | default('pie')}}" data-slidertype="{{slidertype | default('min-range')}}"
	style="margin:auto; position:absolute;"> 
	/**
	* pseudo divs, to get styles 
	**/
	<div class="ui-bar-a" style="visibility:hidden;"> </div>
	<div class="ui-bar-b" style="visibility:hidden;"> </div>
	<div class="ui-page-theme-a ui-btn" style="visibility:hidden;"> </div>
	
	<div id="container" style="position:absolute; margin:auto;">
			<div class="outouterslider" id ="{{ uid(page, id) }}" style="position: absolute;
				margin:auto; margin-top:25px;">
				
			</div>
			<div class="outerslider" id ="{{ uid(page, id) }}" style="position: absolute;
				margin:auto; margin-top:30px;">
				
			</div>
			
			<div class="innerslider" id ="{{ uid(page, id) }}" style="
				position: relative;
				top: 50%;
				margin-top: 40px;
				margin-left: 10px;
				">
			</div>
			<span class="soll"></span>
	</div>
</div>
{% endmacro %}